@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 96.47%;
  --card: 0 0% 96.47%;
  --card-foreground: 0 0% 0%;
  --card-border: 0 0% 93%;
  --sidebar: 180 6.6667% 97.0588%;
  --sidebar-foreground: 210 25% 7.8431%;
  --sidebar-border: 205.0000 25.0000% 90.5882%;
  --sidebar-primary: 203.8863 88.2845% 53.1373%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 211.5789 51.3514% 92.7451%;
  --sidebar-accent-foreground: 203.8863 88.2845% 53.1373%;
  --sidebar-ring: 202.8169 89.1213% 53.1373%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --popover-border: 0 0% 96%;
  --primary: 96 85.19% 73.53%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 0% 0%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 96.08%;
  --muted-foreground: 0 0% 52.94%;
  --accent: 254.21 100% 92.55%;
  --accent-foreground: 0 0% 0%;
  --destructive: 2.04 74.62% 61.37%;
  --destructive-foreground: 0 0% 100%;
  --input: 0 0% 0%;
  --ring: 0 0% 0%;
  --chart-1: 203.8863 88.2845% 53.1373%;
  --chart-2: 159.7826 100% 36.0784%;
  --chart-3: 42.0290 92.8251% 56.2745%;
  --chart-4: 147.1429 78.5047% 41.9608%;
  --chart-5: 341.4894 75.2000% 50.9804%;
  --font-sans: 'Space Grotesk', sans-serif;
  --font-serif: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

/* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);
  --background: 0 0% 0%;
  --foreground: 200 6.6667% 91.1765%;
  --border: 210 5.2632% 14.9020%;
  --card: 228 9.8039% 10%;
  --card-foreground: 0 0% 85.0980%;
  --card-border: 228 9.80% 12%;
  --sidebar: 228 9.8039% 10%;
  --sidebar-foreground: 0 0% 85.0980%;
  --sidebar-border: 205.7143 15.7895% 26.0784%;
  --sidebar-primary: 202.8169 89.1213% 53.1373%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 205.7143 70% 7.8431%;
  --sidebar-accent-foreground: 203.7736 87.6033% 52.5490%;
  --sidebar-ring: 202.8169 89.1213% 53.1373%;
  --popover: 0 0% 0%;
  --popover-foreground: 200 6.6667% 91.1765%;
  --popover-border: 0 0% 3%;
  --primary: 203.7736 87.6033% 52.5490%;
  --primary-foreground: 0 0% 100%;
  --secondary: 195.0000 15.3846% 94.9020%;
  --secondary-foreground: 210 25% 7.8431%;
  --muted: 0 0% 9.4118%;
  --muted-foreground: 210 3.3898% 46.2745%;
  --accent: 205.7143 70% 7.8431%;
  --accent-foreground: 203.7736 87.6033% 52.5490%;
  --destructive: 356.3033 90.5579% 54.3137%;
  --destructive-foreground: 0 0% 100%;
  --input: 207.6923 27.6596% 18.4314%;
  --ring: 202.8169 89.1213% 53.1373%;
  --chart-1: 203.8863 88.2845% 53.1373%;
  --chart-2: 159.7826 100% 36.0784%;
  --chart-3: 42.0290 92.8251% 56.2745%;
  --chart-4: 147.1429 78.5047% 41.9608%;
  --chart-5: 341.4894 75.2000% 50.9804%;
}